@model PersonApp.Domain.DTO.PersonaDto

@{
    ViewData["Title"] = "Details";
}

<h1>Información detallada</h1>

<div>
    <hr />
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>    
    <a class="btn btn-info" asp-action="Index">Volver</a>
</div>
